<div class="card sameheight-item items" data-exclude="xs,sm,lg">
	<div class="card-header bordered">
		<div class="header-block">
			<h3 class="title">
				設備種類統計
			</h3>
		</div>
		<div class="header-block pull-right">
			<label class="search">
				<input id="dashboard-search-input" class="search-input" placeholder="篩選...">
			</label>
			<div class="pagination">
				<button id="dashboard-kind-stat-filter" class="btn btn-primary btn-sm">
					<i class="fa fa-filter"></i>
				</button>
				<button id="dashboard-kind-stat-filter-clear" class="btn btn-danger btn-sm">
					<i class="fa fa-times"></i>
				</button>
			</div>
		</div>
	</div>
	<ul id="dashboard-kind-stat" class="item-list striped">
		<li class="item item-list-header hidden-sm-down">
			<div class="item-row">
				<div class="item-col item-col-header item-col-title">
					<div>
						<span>種類簡稱</span>
					</div>
				</div>
				<div class="item-col item-col-header item-col-sales">
					<div>
						<span>種類中文</span>
					</div>
				</div>
				<div class="item-col item-col-header item-col-stats">
					<div class="no-overflow">
						<span>數量</span>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>