<div class="card sameheight-item stats" data-exclude="xs">
	<div class="card-block">
		<div class="title-block">
			<h4 class="title">
				設備狀態
			</h4>
		</div>
		<div class="row row-sm stats-container">
			<div class="col-12 col-sm-6 stat-col">
				<div class="stat-icon">
					<i class="fa fa-rocket"></i>
				</div>
				<div class="stat">
					<div id="devices-total-number" class="value">
						0
					</div>
					<div class="name">
						設備數量
					</div>
				</div>
				<div class="progress stat-progress">
					<div id="device-total-number-bar" class="progress-bar" style="width: 0%;"></div>
				</div>
			</div>
			<div class="col-12 col-sm-6 stat-col">
				<div class="stat-icon">
					<i class="fa fa-hand-o-left"></i>
				</div>
				<div class="stat">
					<div id="devices-lent-number" class="value">
						0
					</div>
					<div class="name">
						出借設備
					</div>
				</div>
				<div class="progress stat-progress">
					<div id="devices-lent-number-bar" class="progress-bar" style="width: 0%;"></div>
				</div>
			</div>
			<div class="col-12 col-sm-6  stat-col">
				<div class="stat-icon">
					<i class="fa fa-archive"></i>
				</div>
				<div class="stat">
					<div id="devices-not-lend-number" class="value">
						0
					</div>
					<div class="name">
						未出借設備
					</div>
				</div>
				<div class="progress stat-progress">
					<div id="devices-not-lend-number-bar" class="progress-bar" style="width: 0%;"></div>
				</div>
			</div>
			<div class="col-12 col-sm-6  stat-col">
				<div class="stat-icon">
					<i class="fa fa-truck"></i>
				</div>
				<div class="stat">
					<div id="devices-scrappable-number" class="value">
						0
					</div>
					<div class="name">
						可報廢設備
					</div>
				</div>
				<div class="progress stat-progress">
					<div id="devices-scrappable-number-bar" class="progress-bar" style="width: 0%;"></div>
				</div>
			</div>
			<div class="col-12 col-sm-6  stat-col">
				<div class="stat-icon">
					<i class="fa fa-users"></i>
				</div>
				<div class="stat">
					<div id="members-number" class="value">
						0
					</div>
					<div class="name">
						借用人數
					</div>
				</div>
				<div class="progress stat-progress">
					<div id="members-number-bar" class="progress-bar" style="width: 0%;"></div>
				</div>
			</div>
		</div>
	</div>
</div>