---
layout: _main-layout
themeTitle: ISMP EMS
---
{{#is pagename "notin" "error-404,error-404-alt,error-500,error-500-alt"}}
<?php
require_once "php/system.config.php";
require_once "php/ismpems_session.php";
start_session(SESSION_TIMEOUT * 1000);

// normal page
if (!isset($_SESSION['ismpems_ac']) || !isset($_SESSION['ismpems_na']) || !isset($_SESSION['ismpems_em']) || !isset($_SESSION['ismpems_au'])) {
  header("Location: login.html");
}
?>
{{/is}}
<div class="main-wrapper">
  <div class="app" id="app">
    {{!-- Default header block --}}
    {{> app/_common/header/header}}

    {{!-- Default sidebar block --}}
    {{> app/_common/sidebar/sidebar}}

    <div class="mobile-menu-handle"></div>

    {{!-- Content section --}}
    <article class="content {{pagename}}-page">
      {{{body}}}
    </article>

    {{!-- Default footer block --}}
    {{> app/_common/footer/footer}}

    {{> app/_common/modals/modals}}
  </div>
</div>