<footer class="footer">
	<div class="footer-block buttons">
	</div>
	<div class="footer-block author">
		<ul>
			<li>
				created by
				<a href="https://github.com/modularcode" target="_blank">ModularCode</a>
			</li>
			<li>
				modified by
				<a href="https://github.com/dt9450108" target="_blank">Hao Huang</a>
			</li>
			<li>
				NCKU ISMP EMS &copy; 2017
			</li>
		</ul>
	</div>
</footer>