{{!-- Profile --}}
<li class="profile dropdown">
	<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
		<span id="system-user-name" class="name"><?php echo $_SESSION['ismpems_na'] ?></span>
		<input type="hidden" id="system-user-account" value="<?php echo $_SESSION['ismpems_ac'] ?>"></input>
	</a>
	<div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
		<a class="dropdown-item" href="#" id="user-edit-password-button">
			<i class="fa fa-gear icon"></i>
			修改密碼
		</a>
		<div class="dropdown-divider" ></div>
		<a class="dropdown-item" href="#" id="user-logout-button">
			<i class="fa fa-power-off icon"></i> 登出
		</a>
	</div>
</li>