<div class="modal fade" tabindex="-1" role="dialog" id="user-edit-password-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">修改密碼</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div id="dt-body" class="modal-body">
				<div class="form-group row">
					<label class="col-sm-3 form-control-label text-xs-right">
						<span style="color: red;">*</span>舊密碼
					</label>
					<div class="col-sm-9">
						<input id="user-old-password" type="password" class="form-control boxed" placeholder="" minlength="6" required>
						<span class="help-block">至少六個字元</span>
						<span id="user-old-password-msg" class="help-block" style="color: #F44336;"></span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 form-control-label text-xs-right">
						<span style="color: red;">*</span>新密碼
					</label>
					<div class="col-sm-9">
						<input id="user-new-password" type="password" class="form-control boxed" placeholder="" minlength="6" required>
						<span class="help-block">至少六個字元</span>
						<span id="user-new-password-msg" class="help-block" style="color: #F44336;"></span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 form-control-label text-xs-right">
						<span style="color: red;">*</span>新密碼確認
					</label>
					<div class="col-sm-9">
						<input id="user-retype-new-password" type="password" class="form-control boxed" placeholder="" minlength="6" required>
						<span class="help-block">至少六個字元</span>
						<span id="user-retype-new-password-msg" class="help-block" style="color: #F44336;"></span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="user-edit-pwd-submit-button" type="button" class="btn btn-primary">確認</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
